<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="tab-bar.css">
    </head>
    <body>
        <div id="todo" class="tab">
            <span>To-do list</span>
        </div>
        <div id="timetable" class="tab">
            <span>Timetable</span>
        </div>
        <div id="kanban" class="tab">
            <span>Kanban</span>
        </div>
        <div id="gantt" class="tab">
            <span>Gantt chart</span>
        </div>
    </body>
</html>