body {
    background-color: #bbbbbb;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab {
    width: 25%;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    background-color: #c4c4c4;
    color: black;
}

.tab ::selection {
    background-color: #ffffff;
}