<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="tab-bar.css">
    </head>
    <body>
        <button id="todo" class="tab" onclick="location.href='../todo-list/todo-list.html'">
            <span>To-do list</span>
        </button>
        <button id="timetable" class="tab" onclick="location.href='../timeline/timetable.html'">
            <span>Timetable</span>
        </button>
        <button id="kanban" class="tab" onclick="location.href='../kanban/kanban.html'">
            <span>Kanban</span>
        </button>
        <button id="gantt" class="tab" onclick="location.href='../gantt/gantt.html'">
            <span>Gantt chart</span>
        </button>
    </body>
</html>