<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="todo-list.css">
      </head>
    <body>
        <div id="nullScreen">
            <img>
            <span></span>
            <span></span>
        </div>
        <div id="mainScreen">
            <div>
                <div id="grpHeaderRow">
                    <button class="grpByBtn">
                        Sort By
                        <img src="../../../assets/vector/dropdown-arrow.svg">
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Group by date</a>
                        <a href="#">Group by category</a>
                    </div>
                </div>
            </div>
            <div id="mainSection"></div>
        </div>
    </body>
</html>