<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="todo-list.css">
      </head>
    <body>
        <div id="nullScreen">
            <img>
            <span></span>
            <span></span>
        </div>
        <div id="mainScreen">
            <div id="grpHeaderRow">
                <div class="dropdown">
                    <button class="grpByBtn">
                        Sort by...
                        <img src="../../../assets/vector/dropdown-arrow.svg">
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Group by date</a>
                        <a href="#">Group by category</a>
                    </div>
                </div>
            </div>
            <div id="mainSection"></div>
        </div>

        
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

        <!-- Load our React component. -->
        <script src="./react/list-item.tsx"></script>
        <script src="todo-list.js"></script>
    </body>
</html>