html, body {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.fromsidenav {
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
}

.fromtabbar {
    height: fit-content;
    width: 85%;
}