<html>
  <head>
    <meta charset="UTF-8">
    <title>Side Navigator</title>
    <link rel="stylesheet" href="side-nav.css">
  </head>
  <body>
    <div id="" class="sidenav">
      <div id="sidenavProfile" class="navprof">
        <button class="navProfBtn">
          <div id="profPic" class="profpic">
            <img>
          </div>
          foo
          <img src="../../../assets/vector/dropdown-arrow.svg">
        </button>
        <div class="dropdown-content">
          <a href="#">Profile</a>
          <a href="#">Settings</a>
        </div>
      </div>

      <div id="mySidenav" class="sidenavmain">
          <a href="#" id="testdiv"></a>
        </div>
        
    <script src="side-nav.js"></script>
  </body>
</html>