<html>
  <head>
    <meta charset="UTF-8">
    <title>Side Navigator</title>
    <link rel="stylesheet" href="side-nav.css">
  </head>
  <body>
    <div id="" class="sidenav">
      <div id="sidenavProfile" class="navprof">
            <a href="#">
              <div>
                <div id="profPic" class="profpic">
                  <img>
                </div>
                <h6></h6>
                <img src="../../../assets/vector/dropdown-arrow.svg">
              </div>
            </a>
      </div>

      <div id="mySidenav" class="sidenavmain">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
          <div id="testdiv"></div>
        </div>
        
        <!-- Use any element to open the sidenav -->
        <span onclick="openNav()">open</span>
        
        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
          ...
        </div>
    <script src="side-nav.js"></script>
  </body>
</html>