<html>
  <head>
    <meta charset="UTF-8">
    <title>Side Navigator</title>
    <link rel="stylesheet" href="side-nav.css">
  </head>
  <body>
    <div id="" class="sidenav">
      <div id="sidenavProfile" class="navprof" onclick="">
        <div id="profPic" class="profpic">
          <img>
        </div>
        <h4>foo</h4>
        <img src="../../../assets/vector/dropdown-arrow.svg">
        <a href="#"></a>
      </div>

      <div id="mySidenav" class="sidenavmain">
          <a href="#" id="testdiv"></a>
        </div>
        
    <script src="side-nav.js"></script>
  </body>
</html>